## Vantagens da Python em relação ao Excel:

- grandes quantidades de dados (milhares de linhas, dezenas de colunas)
- digitar comandos é mais rápido do que clicar em ícones
- programação permite fazer operações mais complexas
- repetível e compartilhável

In [3]:
import pandas as pd
from pandas import *
from seaborn import *
from matplotlib.pyplot import *
import numpy as np
from statsmodels.formula.api import *
%matplotlib inline

pd.options.display.max_columns = None
pd.options.display.max_seq_items = None
np.set_printoptions(threshold=np.inf)

ImportError: No module named 'seaborn'

In [4]:
atlas = read_csv('atlas.csv')

In [5]:
atlas.shape

(5565, 80)

In [6]:
atlas.head(10)

,nome_mun,nome_uf,mun,uf,rm,meso,nome_meso,micro,nome_micro,espvida,...,popul,porte,vab_agro,vab_ind,vab_serv,vab_adm,vab_total,impostos,pib,pibpc
0,alta_floresta_doeste,rondonia,1100015,11,nao,1102,leste_rondoniense,11006,cacoal,70.75,...,24097,pequenoII,69260.391,16118.534,62496.185,93244.656,241119.767,20957.111,262076.878,10731.18
1,ariquemes,rondonia,1100023,11,nao,1102,leste_rondoniense,11003,ariquemes,73.36,...,89766,medioI,73711.643,287138.585,494946.267,343867.731,1199664.227,165029.553,1364693.780,15103.86
2,cabixi,rondonia,1100031,11,nao,1102,leste_rondoniense,11008,colorado_do_oeste,70.39,...,6303,pequenoI,24300.822,3252.506,12677.210,25170.235,65400.772,4210.342,69611.114,11033.62
3,cacoal,rondonia,1100049,11,nao,1102,leste_rondoniense,11006,cacoal,74.27,...,78141,medioI,95259.203,182051.537,465447.325,298454.309,1041212.374,145281.717,1186494.091,15095.15
4,cerejeiras,rondonia,1100056,11,nao,1102,leste_rondoniense,11008,colorado_do_oeste,72.94,...,16942,pequenoI,28976.415,19734.484,80724.991,63018.270,192454.160,29567.029,222021.189,13037.06
5,colorado_do_oeste,rondonia,1100064,11,nao,1102,leste_rondoniense,11008,colorado_do_oeste,73.81,...,18540,pequenoI,35817.583,18305.912,54678.238,67462.041,176263.775,16828.821,193092.596,10380.21
6,corumbiara,rondonia,1100072,11,nao,1102,leste_rondoniense,11008,colorado_do_oeste,71.45,...,8647,pequenoI,51205.533,7946.464,15590.944,34012.729,108755.670,6012.602,114768.272,13038.89
7,costa_marques,rondonia,1100080,11,nao,1101,madeira_guapore,11002,guajara_mirim,70.04,...,13539,pequenoI,19816.241,7732.292,22863.415,51077.726,101489.674,6093.379,107583.052,7852.78
8,espigao_doeste,rondonia,1100098,11,nao,1102,leste_rondoniense,11006,cacoal,74.15,...,28510,pequenoII,56432.947,34215.342,88492.279,102086.922,281227.489,30560.346,311787.835,10848.19
9,guajara_mirim,rondonia,1100106,11,nao,1101,madeira_guapore,11002,guajara_mirim,74.39,...,39928,pequenoII,18630.443,22950.667,273295.234,156792.097,471668.441,126498.612,598167.052,14363.13

In [7]:
atlas.columns

Index(['nome_mun', 'nome_uf', 'mun', 'uf', 'rm', 'meso', 'nome_meso', 'micro',
       'nome_micro', 'espvida', 'fectot', 'mort1', 'razdep', 't_env',
       'e_anosestudo', 't_analf25m', 't_flbas', 't_flfund', 't_flmed',
       't_flpre', 't_flsuper', 'pind', 'pmpob', 'pren10ricos', 'pren20',
       'pren20ricos', 'pren40', 'pren60', 'pren80', 'r1040', 'r2040', 'rdpc',
       'cpr', 'emp', 'p_agro', 'p_com', 'p_constr', 'p_extr', 'p_formal',
       'p_fund', 'p_med', 'p_serv', 'p_siup', 'p_super', 'p_transf', 'ren0',
       'ren1', 'ren2', 'ren3', 'ren5', 'renocup', 'trabcc', 'trabpub',
       'trabsc', 't_agua', 't_banagua', 't_dens', 't_lixo', 't_luz', 'parede',
       't_m10a14cf', 't_m15a17cf', 't_mulchefefif014', 't_nestuda_ntrab_mmeio',
       't_des', 't_fund25m', 't_med25m', 't_super25m', 't_ativ', 't_urb',
       'popul', 'porte', 'vab_agro', 'vab_ind', 'vab_serv', 'vab_adm',
       'vab_total', 'impostos', 'pib', 'pibpc'],
      dtype='object')

In [8]:
atlas.t_med25m.values

array([ 19.19,  31.45,  20.42, ...,  22.64,  11.39,  55.4 ])

In [9]:
atlas.t_med25m.describe().round(2)

count    5565.00
mean       21.64
std         8.51
min         3.46
25%        15.32
50%        20.13
75%        26.45
max        65.86
Name: t_med25m, dtype: float64

In [10]:
round(atlas.t_med25m.mean(), 2)

21.64

In [11]:
atlas.pib / atlas.popul

0       10.875913
1       15.202791
2       11.044124
3       15.184015
4       13.104780
5       10.414919
6       13.272612
7        7.946159
8       10.936087
9       14.981142
10      15.417121
11      16.008824
12       8.775013
13       8.893337
14      12.678934
15      16.091802
16      21.521042
17      10.582556
18      12.761419
19      12.462499
20      11.147019
21      19.139145
22      14.952807
23       9.811402
24       9.625543
25       9.402352
26       8.896398
27      10.422293
28       9.356745
29      13.399861
          ...
5535    16.168814
5536    10.166648
5537    12.277628
5538    18.628053
5539     9.259189
5540    78.072864
5541    11.978510
5542    28.064592
5543    15.731348
5544     6.887919
5545     7.308905
5546     9.705607
5547     5.272505
5548    13.133167
5549     9.985789
5550     9.929199
5551     7.468877
5552    12.404889
5553    60.330391
5554    10.216863
5555    12.259374
5556     7.751200
5557    16.662766
5558     8.420929
5559     9.683200
5560    14.294810
5561    18.372581
5562    15.298990
5563    19.426643
5564    56.676621
dtype: float64

In [12]:
atlas['cid_peq'] = atlas.popul < 20000

# Gráficos

In [13]:
atlas.t_med25m.plot.hist();

In [18]:
distplot(atlas.t_med25m, hist=False);

NameError: name 'distplot' is not defined

In [19]:
scatter('t_med25m', 'renocup', color='black', marker='.', data=atlas);

NameError: name 'scatter' is not defined

In [16]:
atlas2 = atlas.iloc[:, [1, 10, 11, 12]]
pairplot(atlas2, hue='nome_uf', markers='.');

NameError: name 'pairplot' is not defined

## Groupby

In [17]:
atlas.groupby('nome_uf').size()

nome_uf
acre                    22
alagoas                102
amapa                   16
amazonas                62
bahia                  417
ceara                  184
distrito_federal         1
espirito_santo          78
goias                  246
maranhao               217
mato_grosso            141
mato_grosso_do_sul      78
minas_gerais           853
para                   143
paraiba                223
parana                 399
pernambuco             185
piaui                  224
rio_de_janeiro          92
rio_grande_do_norte    167
rio_grande_do_sul      496
rondonia                52
roraima                 15
santa_catarina         293
sao_paulo              645
sergipe                 75
tocantins              139
dtype: int64

In [ ]:
atlas.groupby('nome_uf').t_med25m.describe()

In [ ]:
atlas['renocup'].groupby(atlas['nome_uf']).quantile(0.5)

In [ ]:
x = atlas.groupby('nome_uf').t_med25m.mean().reset_index()

In [ ]:
x = x.sort_values(by='t_med25m', ascending=False)

In [ ]:
x.plot.barh('nome_uf', 't_med25m');

In [ ]:
fig, ax = plt.subplots(figsize=(7,7))
set_palette(color_palette(palette='bright'))
set_style("whitegrid")
barplot('t_med25m', 'nome_uf', palette='Accent', data=x)
ax.set_xlabel('% ensino médio')
ax.set_ylabel('');

## Subselecionar

In [ ]:
vga = atlas.query('nome_micro == "varginha"')

In [ ]:
vga.shape

In [ ]:
atlas.query('nome_uf == "minas_gerais"').groupby('nome_meso').size()

In [ ]:
mg = atlas.query('nome_uf == "minas_gerais"')

agrupado = mg.groupby(['nome_meso', 'nome_micro'])

agrupado['renocup'].mean().round(2)

In [ ]:
atlas2 = atlas[(atlas['nome_uf'] == 'sao_paulo') | (atlas['nome_uf'] == 'minas_gerais')]

In [ ]:
atlas2.shape

# Regressão

In [ ]:
ols('t_med25m ~ renocup', atlas).fit().summary()

In [ ]:
lmplot('t_med25m', 'renocup', atlas);

In [ ]:
residplot('t_med25m', 'renocup', atlas);

In [ ]:
# para subselecionar, indique hue e coluna ou linha (row)
lmplot('t_med25m', 'renocup', hue='nome_uf', col='cid_peq', data=atlas2);

In [ ]:
# para subselecionar, indique hue e coluna ou linha (row)
lmplot('t_med25m', 'renocup', hue='nome_meso', row='nome_meso', data=mg);

In [ ]:
import seaborn as sns
sns.boxplot('nome_uf', 'renocup', hue='cid_peq', data=atlas2);

## Baixar dados do IBGE

In [ ]:
import requests

In [ ]:
r = requests.get('http://api.sidra.ibge.gov.br/values//t/6381/n1/all/v/4099/p/all/d/v4099%201')

In [ ]:
df = pd.DataFrame(r.json())

In [ ]:
df.columns = df.iloc[0,:]; df.drop(0, inplace=True)
df.Valor = df.Valor.astype(float)
df.head(2)

In [ ]:
df.index = df.iloc[:,5]

In [ ]:
plt.subplots(figsize=(17,3))
df.Valor.plot.line()
plt.xticks(np.arange(60), df.index, rotation=90);

In [ ]:
df.to_excel('apagar.xls')

# Mapas

In [ ]:
import geopandas as gp
from nupis import *

In [ ]:
atlas = merge_shp_df(shp='31MUE250GC_SIR.shp', df='atlas.csv')

In [ ]:
choropleth(atlas, 't_med25m', cmap='Paired')

In [ ]:
setores = gp.read_file('../../dados/ibge_geo/malhas/intramunicipal/31SEE250GC_SIR.shp') 
vga = setores.query('NM_MUNICIP == "VARGINHA"')
vga = vga.query('TIPO == "URBANO"')

In [ ]:
ax = vga.plot(figsize=(9,9), cmap='Accent', alpha=.9, linewidth=.1)
ax.set_axis_off();